@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&family=Poppins:wght@400&family=Great+Vibes&family=Playwrite+US+Modern&family=Noto+Sans:wght@400&family=Playpen+Sans:wght@400&display=swap');

:root {
  font-family: 'Unbounded', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-family: 'Unbounded', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
button:hover,
button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3B3B50;
    background-color: #ffffff;
  }
}
